body{
    padding:10pt;
    background-color:rgba(20, 77, 77, 0.246); 
    background-image:url(img/3D-graphics_Summer_colors_024958_.jpg)
}
h1{
    padding:10pt;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 300%;
    border-color: lightblue;
    text-align:center;
    border-block-end: 5pt
}
h2{
    font-size:30pt;
    text-align:center;
    border-bottom: 10pt
}
div{
    border-radius: 30pt;
    width: 600px;
    padding: 10pt;
   font-size:20pt;
    margin-left: auto;
    margin-right: auto;
    border-top-color: blue;
    border:20pt;
}
#part2{
    background-color: rgba(0, 51, 128, 0.63);
}
#image{
    display:block;
    transition: ease-in;
border-radius: 40pt;
margin-left: auto;
margin-right:auto;
}
#image2{
    border-radius: 40px; 
    color:red;
    display: block;
    padding: 30pt;
}
.options{
    border-radius:  40px
}
.tags{
    background-color:transparent;
    border: 0;
    border-bottom: 1px solid black;
    height: 0pt;
}
body {
display:border-radius;
   } 
    
}

}


